@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
}

p, label, span {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

input, button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
	
#wrapper {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	background-color: #FFFFFF;
}

#window {
	margin: 20px 0px 0px 0px;
}

#fileUpload {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
	width: 250px;
	height: 70px;
	text-align: left;
	border: solid 1px #000000;
}

#fileDrop {
	width: 245px;
	height: 40px;
	margin-bottom: 5px;
	text-align: center;
	line-height: 40px;
	border: dashed 3px #54C238;
}

#sagePointer {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
	width: 250px;
	height: 70px;
	text-align: left;
	border: solid 1px #000000;
}

#screenShare {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
	width: 250px;
	height: 70px;
	text-align: left;
	border: solid 1px #000000;
}

#sagePointerLabel {
	width: 120px;
}

#sagePointerColor {
	width: 60px;
}

#fileTreeList {
	width: 95%;
	height: 85%;
	overflow: scroll;
	background-color: #D9D9D9;
}

#fileButtons {
	text-align: left;
	margin: 10px;
}

.fileLabel {
	display:inline-block;
    width:125px;
    text-align: right;
    padding: 3px 5px 0px 0px;
}

.sageLabel {
	display:inline-block;
    width:110px;
    text-align: right;
    padding: 3px 10px 3px 0px;
}

.lb_blackoverlay {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000000;
	z-index: 1001;
	opacity: .65;
	cursor: default;
}

.lb_whiteboxcontainer {
	display: none;
	position: absolute;
	top: 25%;
	left:25%;
	height: 50%;
	width: 50%;
	border: 4px solid #AAAAAA;
	background-color: #FFFFFF;
	z-index:1002;
	overflow: scroll;
	cursor: default;
}

.lb_whitecontent {
	position: static;
	text-align: left;
	margin: 10px;
}

.clear {
	clear: both;
}


/***********************************************/
.css-treeview {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.css-treeview ul,
.css-treeview li {
	padding: 0px;
	margin: 6px 3px 0px 3px;
	list-style: none;
}

.css-treeview input {
	position: absolute;
	opacity: 0;
}

.css-treeview label {
	cursor: pointer;
	font-size: 12px;
}

.css-treeview input + label {
	background: url('images/dir-closed.png') no-repeat;
    padding: 3px 0px 3px 42px;
    background-position: 0px 0px;
}

.css-treeview input:checked + label {
	background: url('images/dir-open.png') no-repeat;
}

.css-treeview input ~ ul {
	margin: 0px;
	display: none;
}

.css-treeview input ~ ul > li {
	margin: 0px;
	padding: 0px 0px 0px 46px;
}

.css-treeview input:checked ~ ul {
	display: block;
}

