@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
}

p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
	
#wrapper {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	background-color: #FFFFFF;
}

#window {
	margin: 20px 0px 20px 0px;
}

#extraInteraction {
	width: 100%;
	overflow: hidden;
}

#fileDrop {
	float: left;
	width: 250px;
	height: 76px;
	line-height: 76px;
	border: dashed 3px #54C238;
}

#sagePointer {
	margin-left: 275px;
	padding: 5px;
	width: 250px;
	height: 70px;
	text-align: left;
	border: solid 1px #000000;
}

#sagePointerLabel {
	width: 120px;
}

#sagePointerColor {
	width: 60px;
}

.sageLabel {
	display:inline-block;
    width:100px;
    text-align: right;
    padding: 3px 5px 0px 0px;
}
